
.tod{
    list-style: none;
    display: block !important;
}

.tod a{
    text-decoration: none !important;
}

.into{
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    width: 100%;
    text-transform: capitalize;
    background: transparent;
    border: 1px solid rgb(67, 71, 78);
    border-radius: 0px;
    text-align: left;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;
    transition: 0.4s;
}

.bk1{
    background-color: rgb(47, 51, 58);
    color: white;
    padding-bottom: 60px;
    padding-top: 60px;
}

.re1{
    margin-top: 15px;
    padding: 0.75rem;
    background: rgb(255, 112, 4);
    border: none;
    color: white;
    /* font-weight: bold; */
    border-radius: 0.5rem;
    cursor: pointer;
    /* transition: background 0.3s ease-in-out; */
}