.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  gap: 50px;
  cursor: grab;
}

.scroll-container:active {
  cursor: grabbing;
}

.card {
   position: relative;
  flex: 0 0 auto;
  width: 160px;
  height: 160px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.368);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  user-select: none;
  transition: transform 0.2s ease;
  z-index: 1;
}

.card img{
  width: 50% !important;
  height: 50%;
 
  padding: 2px;
}

.card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  animation: kin 1s linear infinite;
  border-radius: inherit;
  opacity: 0; 
  
}
.tiom{ display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0px;}

.card:hover::before{
  border: 2px dashed rgb(255, 119, 0);
  opacity: 1;
}

.flot2{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}



@keyframes kin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1200px) {

  .scroll-container {
    overflow: hidden !important;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
}