/* ========== BASE STYLES ========== */
.ben {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bot1,
.bot2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.ben img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.flot1 {
  text-align: center;
  padding-bottom: 100px;
}

/* Text Block Styles */
.tx1 {
  position: absolute;
  text-align: center;
  top: 56px;
  left: 370px;
  flex-direction: row;
  height: 100%;
  padding: 40px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  color: #fff;
}

.tx2 {
  position: absolute;
  text-align: center;
  top: 56px;
  left: 0px;
  flex-direction: row;
  height: 100%;
  padding: 40px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  color: #fff;
}

.tx1 h3,
.tx2 h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.tx1 p,
.tx2 p {
  font-size: 1rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

/* ========== RESPONSIVE BREAKPOINTS ========== */

/* Laptop L (≤1440px) */
/* @media (max-width: 1440px) {
  .tx1 {
    top: 56px;
    left: 300px;
  }

  .tx2 {
    top: 56px; 
    left: 0px;
  }

  .tx1 h3,
  .tx2 h3 {
    font-size: 1.5rem;
  }

  .tx1 p,
  .tx2 p {
    font-size: 0.95rem;
  }
} */

/* Laptop (≤1024px) */
@media (min-width: 768px) and (max-width: 1024.98px) {


 .tx1 {
  top: 50px;
    left: 200px;
 }

  .tx2 {
    top: 50px;
    left: 0px;
  }

  .tx1 h3,
  .tx2 h3 {
    font-size: 1.4rem;
  }

  .tx1 p,
  .tx2 p {
    font-size: 0.9rem;
  }
}

/* Tablet (≤768px) */
@media (max-width: 768px) {
  .ben {
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .tx1 {
    top: 40px;
    left: 120px;
  }

  .tx2 {
    top: 40px;
    left: 0px;
  }

  .tx1 h3,
  .tx2 h3 {
    font-size: 1.2rem;
  }

  .tx1 p,
  .tx2 p {
    font-size: 0.85rem;
  }
}

/* Mobile L (≤425px) */
@media (max-width: 425px) {
  .ben {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .tx1 {
    top: 30px;
    left: 80px;
  }

  .tx2 {
    top: 30px;
    left: 0px;
  }

  .tx1 h3,
  .tx2 h3 {
    font-size: 1rem;
  }

  .tx1 p,
  .tx2 p {
    font-size: 0.8rem;
  }
}

/* Mobile M (≤375px) */
@media (max-width: 375px) {
  .tx1 {
    top: 25px;
    left: 60px;
  }

  .tx2 {
    top: 25px;
    left: 0px;
  }

  .tx1 h3,
  .tx2 h3 {
    font-size: 0.95rem;
  }

  .tx1 p,
  .tx2 p {
    font-size: 0.75rem;
  }
}

/* Mobile S (≤320px) */
@media (max-width: 320px) {
  .tx1 {
    top: 20px;
    left: 40px;
  }

  .tx2 {
    top: 20px;
    left: 0px;
  }

  .tx1 h3,
  .tx2 h3 {
    font-size: 0.9rem;
  }

  .tx1 p,
  .tx2 p {
    font-size: 0.7rem;
  }
}
