.billing-container {
  max-width: 800px;
  margin:20px auto;
  background: rgb(231, 231, 231);
  padding: 2rem;
  border-radius: 1rem;
  font-family: sans-serif;
  
}

.billing-form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.form-column {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}

h2, h3 {
  margin-bottom: 1rem;
  color: rgb(47, 51, 58);
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

input, select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

input:focus {
  outline: 2px solid rgb(255, 112, 4);
}

.form-row {
  display: flex;
  gap: 1rem;
}

.error {
  color: red;
  font-size: 0.75rem;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1.5rem 0;
}

.submit-button {
  background-color: rgb(255, 112, 4);
  color: white;
  font-weight: bold;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
}

.submit-button:hover {
  opacity: 0.9;
}

/* Media Query for Responsive Behavior */
@media (max-width: 768px) {
  .billing-form {
    flex-direction: column;
  }
}

.op1{
  margin: 20px;
}